fastapi[all]
uvicorn
openai
pinecone-client
numpy
pandas
scikit-learn
python-dotenv
requests
transformers
python-multipart
sentence-transformers 
pinecone-client
python-dotenv
PyMuPDF
websockets
wsproto
pydantic